/* ----------- TO DO ---------- */
/* more responsive text sizing for mobile */

header{
  background-color: var(--secondary);
  
  /*top of page always*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;

  display: flex;
  align-items: center;
  
  justify-content: space-between;
  

  min-height: 8vh;
}


/* __________________________  Logo _____________________________ */
.logo {
  color: var(--light);
  font-size: 1.45em;
  font-weight: bold;
  letter-spacing: 5px;

  
  /* justify-content: center; */
  display: flex; 
  align-items: stretch;
  /* padding on the sides will never get smaller than 3rem
  or bigger than 10rem */
  padding-inline: clamp(3rem, 5vw, 10rem); 
  
  text-shadow: 2px 2px red;

  transition: all 0.3s ease-in-out;
}
.logo:hover{
  color: var(--waterBlueMid);
  transform: translateY(-2px);
}


/* __________________________  Burger _____________________________ */
.nav-active {
  /*When the burger container is clicked move the offscreen menu back*/
  transform: translateX(0%);
}
.burger {
  margin-right: 1rem; 
  /*When not in a mobile screen size the burger is hidden */
  display: none;
  /* background-color: teal; */
}
/*When hovering on the parent, all the children change */
.burger:hover div{
  background-color: var(--waterBlueMid);
  transform: translateY(-2px);
}
.burger div{
  /*applies to each line in the burger icon*/
  background-color: var(--light);
  width: 25px;
  height: 3px;
  margin: 3px;
  /* the individual lines dont need to be clickable, the container does */
  pointer-events: none;
  /*animation*/
  transition: all 0.3s ease-in-out;
}

/*-------------- burger animation --------------*/
/* translate() is finicky, need to find a better method */
.burger[burger-active='true'] .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.burger[burger-active='true'] .line2 {
  opacity: 0;
  transform: translateX(-7px);
}
.burger[burger-active='true'] .line3 {
  transform: rotate(45deg) translate(-6px, -7px);
}


/* __________________________  Nav links  _____________________________ */
/* class on the <ul> */
.nav-links { 
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;  
  gap: 1rem;
}
.nav-links li{ 
  display: inherit;
  list-style: none;
}
.nav-links li:hover{ /*move the container*/
  transform: translateY(-2px);
}
.nav-links a{
  color: var(--light);
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  text-shadow: 2px 2px red;

  /* transition is handled by js */
  transition: all 0.3s ease-in-out;
  
}
.nav-links a:hover{/*change the color of text*/
  color: var(--waterBlueMid);
}
.test {
  min-height: 8vh;
}
@media (min-width: 42em) {
  .nav-links{
      /* changes the space in between the links */
      gap: clamp(1.5rem, 6vw, 10rem);
      
      /* padding on the sides will never get smaller than 3rem
      or bigger than 10rem */
      padding-inline: clamp(3rem, 10vw, 10rem);
  }
}


/* ______________________________  MOBILE  _____________________________ */

@media screen and (max-width:42em){
  
  .nav-links { 
    position: fixed;
    right: 0px;

    /* spread out in mobile */
    justify-content: space-around;

    /*for full screen effect*/
    height: 92vh;

    /*places it right under the nav bar*/
    top: 8vh;

    /* nice gradient */
    background: rgb(254,145,29);
    background: linear-gradient(0deg, rgba(254,145,29,1) 0%, rgba(237,50,0,1) 100%);
    /*allow the menu to spill down*/
    display: flex;
    flex-direction: column;

    /*use this instead of justify-content: center  because the 
    flex direction was changed so the order changes*/
    align-items: center;

    /*how much of the screen should it take up*/
    width: 50%;

    /*In mobile view the container is off the screen, it gets
     set to 0, moving it back on the screen, when you click burger*/
    transform: translateX(100%);

    /*transition to make the container appear smoothly*/
    transition: transform 0.4s ease-out;
  }
  /*The mobile nav slides out when it gets assigned true*/
  .nav-links[nav-visible='true'] {
    /* we pull out the mobile nav */
    transform: translateX(0%);
  }
  /* for the fade in from right effect they are initially not visible */
  .nav-links li {
    opacity: 0;
    padding: 1em;
  }
  .burger {
    cursor: pointer;
    /*in a mobile screen size you can see the burger*/
    display: flex;
    /* centering the lines inside the burger */
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* creates a square, increase/decrease the width to change size*/
    aspect-ratio: 1;  
    width: 3rem;  
  }
}




/*an animation to make the nav links appear*/
@keyframes navLinkFade{
  from {
      opacity: 0;
      /*adds movement to the effect*/
      transform: translate(50px);
  }
  to {
      opacity: 1;
      transform: translate(0px);
  }
}

