/* Styles for the side bars */

.lSide {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 25;

  /*flush to the bottom to imply content below*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px; 
}
.media-icon{
  margin-top: 10px; 
}
.media-icon:hover{
  transform: translateY(-4px);
  /* drop-shadow(offset-x offset-y blur-radius color) */
  /* filter: drop-shadow(0px 5px 1px var(----secondary));  */
  filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
}

.rSide {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 25;

  /* text-align: center; */

  /*flush to the bottom to imply content below*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.email-side {
  writing-mode: vertical-rl;

  letter-spacing: 0.1em;
  font-weight: bold;
  color: var(--secondary);

  transition: transform 0.5s ease-in,
  color 0.3s ease-in-out;
    
}
.email-side:hover {
  transform: translateY(-4px);
  color: var(--primary);
  text-shadow: 0px 3px 2px rgba(0, 0, 0, .7);
}



.vert-line {
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  height: 100px;

   /*flush to the bottom to imply content below*/
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  
}

.icon {
  margin-top: 8px; 
  fill: var(--secondary);
  width: 30px;

  transition: transform 0.5s ease-in,
  fill 0.3s ease-in-out;
}
.icon:hover {
  
  transform: translateY(-4px);
  fill: var(--primary);

}

@media screen and (max-width:768px) {
  .lSide, 
  .lSide > * {
    visibility: hidden;
  }
  .rSide, 
  .rSide > * {
    visibility: hidden;
  }
}